<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{index.titulo}">Productos</h2>
            <div th:if="${productos != null and !productos.empty}"> <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{producto.nombreProducto}">Nombre del producto</th>
                            <th th:text="#{producto.precio}">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="producto : ${productos}">
                            <td th:text="${producto.nombreProducto}"></td>
                            <td th:text="${#numbers.formatDecimal(producto.precio,3,2)}" style="text-align: right"></td>
                                <td><a th:href="@{/carrito/agregar/} + ${producto.idProducto}" th:text="#{accion.agregar}">Agregar</a></td>
                        </tr> </tbody>
                </table>
            </div>
            <div th:if="${productos == null or productos.empty}">
                <p th:text="#{producto.no_mostrar}">No hay productos para mostrar...</p>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
